<div class="col-md-4">
    <div class="thumbnail">
        <img src=<%= display_thumbnail(bookmark.url) %>>
    </div>
    <div class="caption text-center">
        <h3><%=display_title(bookmark.url) %></h3>
        <p><%=display_description(bookmark.url) %></p>
    </div>    
</div>

