<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><%= link_to "##{topic.title}", topic %></h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <% topic.bookmarks.each do |b| %>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="#" alt="...">
                        <div class="caption">
                            <p>Like/unlike (placeholder)</p>
                            <p><%= b.url %></p>
                        </div>
                    </div>
                </div>
            <% end %> 
        </div>
    </div>
</div>