<div class="panel-heading">
    <h3 class="panel-title"><%= link_to "##{topic.title}", topic %>
        <% if policy(topic).destroy? %>
            <%= link_to topic, method: :delete, remote: true, title: "Delete topic", data: {confirm: "Do you want to delete #{topic.title}?"} do %>
                <i class="glyphicon glyphicon-remove pull-right" style="color:red"></i>
            <% end %>
        <% end %>
    </h3>
</div>

