<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><%= link_to "##{topic.title}", topic %></h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <%= will_paginate topic.bookmarks, renderer: BootstrapPagination::Rails %>
        </div>
    </div>
</div>