<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center page-header">
        <h1>All Blocmarks</h1>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <%= render @topics %>
    </div>
</div>
