<% if policy(Like.new).create? %>    
    <div class="like-div">
      <% if like = current_user.liked(bookmark) %>
        <%= link_to [bookmark, like], remote: true, class: 'btn btn-danger', id: "#{bookmark.id}-unlike", method: :delete do %>
          <i class="glyphicon glyphicon-star-empty"> </i>&nbsp; Unlike
        <% end %>
      <% else %>
        <%= link_to [bookmark, Like.new], remote: true, class: 'btn btn-primary', id: "#{bookmark.id}-like", method: :post do %>
          <i class="glyphicon glyphicon-star"> </i>&nbsp; Like
        <% end %>
      <% end %>
    </div>
<% end %>